.requirements{
  h2{
    margin-bottom: 0;
    padding-top: 133px;
    padding-bottom: 39px;
    color: #fff;
  }
  .content{
    padding-bottom: 100px;
  }
  .icon-block{
    width: 100%;
    height: 370px;
    background-size: contain;
    background: url("../../../../media/images/man-laptop-v1.svg") no-repeat center;
  }
  p{
    color: #fff;
    @include paragraph_2;
    margin-bottom: 0;
    &:not(:last-child){
      margin-bottom: 22px;
    }
  }
}

@media (max-width: 2560px){
  .requirements{
    background-size: cover;
    background: url("../../../../media/images/third-block-bg/third-block-bg-2560x692.jpg") no-repeat;
  }
}

@media (max-width: 1024px) {
  .requirements{
    background-size: cover;
    background: url("../../../../media/images/third-block-bg/third-block-bg-1024x755.jpg") no-repeat;
    p{
      max-width: 448px;
    }
    .content{
      padding-bottom: 136px;
    }
    .icon-block{
      margin-left: 10px;
      margin-top: 12px;
    }
  }
}

@media (max-width: 991px) {
  .requirements{
    .icon-block{
      background-size: contain;
      height: 408px;
      background: url("../../../../media/images/man-laptop-v2.svg") no-repeat center;
      margin-left: 16px;
      margin-top: 4px;
    }
    h2{
      padding-top: 48px;
    }
    .content{
      padding-bottom: 60px;
    }
    .icon-block{
      width: 105%;
    }
  }
}

@media (max-width: 768px) {
  .requirements{
    background-size: cover;
    background: url("../../../../media/images/third-block-bg/third-block-bg-768x878.jpg") no-repeat;
    .content{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding-bottom: 120px;
    }
    h2{
      padding-top: 114px;
      padding-bottom: 36px;
      color: #fff;
      max-width: 478px;
    }
    .row{
      width: 100%;
    }
    .col-md-6{
      padding-left: 0;
    }
    .icon-block{
      background-size: contain;
      height: 408px;
      background: url("../../../../media/images/man-laptop-v2.svg") no-repeat center;
      margin-left: 16px;
      margin-top: 4px;
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .requirements{
    h2{
      padding-top: 30px;

      padding-bottom: 12px;
    }
    p{
      max-width: 100%;
      text-align: center;
    }
    .icon-block{
      background-position: top;
      background-size: 28vh;
      height: 300px;
    }
    .row{
      display: flex;
      justify-content: center;
      align-items: center;
      .col-md-6:first-child{
        order: 2;
      }
      .col-md-6:last-child{
        order: 1;
      }
    }
  }

}
@media (max-width: 500px) {
  .requirements{
    h2{
      @include typo_h2_m;
    }
    .icon-block{
      background-size: 24vh;
      height: 248px;
    }
  }

}
@media (max-width: 320px) {
  .requirements{
    background: url("../../../../media/images/third-block-bg/third-block-bg-320x1031.jpg");
    .container{
      padding: 0;
    }
    h2{
      padding-top: 65px;
      padding-bottom: 24px;
      width: 294px;
    }
    .icon-block{
      background: url("../../../../media/images/man-laptop-v1.svg") no-repeat top;
      background-size: 30vh;
      height: 241px;
      margin-left: 7px;
      margin-top: 2px;
    }
    .txt-block{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    p{
      max-width: 280px;
    }
    .content{
      padding-bottom: 64px;
    }
  }
}