header {
  height: 64px;
  background: #fff;
  position: sticky;
  width: 100%;
  z-index: 11;
  top: 0;
}
.header-block{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  &>nav{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .burger:hover{
    svg #line-menu{
      fill: #2638BB;
    }
  }

  .logo{
    width: 134px;
  }
  ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  li{
    &:not(:first-child){
      margin-left: 32px;
    }
      a {
         color: #000;
      }
  }
  .burger{
    display: none;
  }
  svg{
    color: #283593;
    font-size: 25px;
    &:hover{
      color: #2637BB;
    }
  }
}

@media (max-width: 991px) {
  header{
    height: 64px;
  }
  .header-block{
    ul, .login{
      display: none;
    }
    .burger{
      display: block;
    }
  }
}
