.registration{
  padding-top: 36px;
  padding-bottom: 148px;
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h2{
    margin-bottom: 0;
    padding-bottom: 13px;
  }
  h5{
    margin-bottom: 65px;
    text-align: center;
  }
  form{
    width: 100%;
  }
  .small-blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input-block{
      max-width: 358px;
      &:not(:last-child){
        margin-right: 30px;
      }
    }
  }
  .big-blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .input{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      font-size: 16px;
      color: #8d8c8c;
      padding: 0 16px;
    }
    .input-block{
      border: 1px solid #b7b7b7;
      border-radius: 5px;
      &.error{
        border: 1px solid #f44336;
      }
    }
    .input-block:first-child{
      margin-right: 15px;
        .txt{
        color: #010000;
      }
      .txt-error{
        position: absolute;
        bottom: -20px;
        padding: 0;
      }
    }
    .input-block:last-child{
      margin-left: 15px;
      font-size: 16px;
      color: #8d8c8c;
      padding-left: 17px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 556px;
    }
  }
  label{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0 16px;
    font-size: 16px;
    color: #010000;
    border: 1px solid #b7b7b7;
    &:focus{
      border: 2px solid #b7b7b7;
      outline: none;
    }
    &::placeholder{
      font-size: 16px;
      color: #8d8c8c;
    }
  }
  .input-block{
    height: 54px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px;
    position: relative;
    span{
      position: absolute;
      font-size: 12px;
      color: #8d8c8c;
      background: #fff;
      left: 12px;
      padding: 0 5px;
      top: -10px;
    }
  }
  img{
    margin-right: -4px;
  }
  input[type='file']{
    position: absolute;
    opacity: 0;
    width: 126px;
    right: 0;
    height: 100%;
  }
  .file{
    width: 126px;
    height: 100%;
    position: absolute;
    right: 0;
    &:hover  .upload{
      background: $cl_secondary_bt_hover;
      color: $cl_secondary_hover;
    }
  }
  .txt{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .upload{
    width: 126px;
    outline: 2px solid #ef6c00;
    color: #ef6c00;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    position: absolute;
    right: 0;
    z-index: 0;
    .icon-block{
      display: none;
    }
  }
  .info{
    position: absolute;
    left: 16px;
    bottom: -24px;
    &.error .txt{
      color: #F65F53;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 22px;
    }
    .txt{
      font-size: 12px;
      color: #8d8c8c;

    }
  }
  button{
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-block.show{
    border: none;
    z-index: 2;
  }
  .select-container{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0 3px 8px 0 rgba(1, 1, 1, 0.24);
    z-index: 1;
    border-radius: 5px;
    .position{
      padding: 0 16px;
      height: 48px;
      color: #393939;
      text-align: left;
      font-size: 16px;
      background: #fff;
      line-height: 48px;
      &:first-child{
        border-radius: 5px 5px 0 0;
      }
      &:last-child{
        border-radius: 0 0 5px 5px;
      }
      &:hover{
        background: #fce2cc;
        cursor: pointer;
      }
      &.disable{
        background: #fff;
        cursor: default;
        color: #ef6c00;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

  }

  .input-block.error{
    span,.txt-error{
      color: #f44336;
    }
    input{
      border: 1px solid #f44336;
      &:focus, &:active{
        border: 2px solid #f44336;
      }
    }
    .txt-error{
      font-size: 12px;
      padding: 0 16px;
    }
  }
}

.modal.fade.show{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-registration .modal-content{
  max-width: 290px;
  height: 182px;
  border-radius: 5px;
  .modal-header{
    border: none;
    padding: 22px 24px 10px;

    h5{
      font-weight: 400;
      font-size: 24px;
      line-height: 21px;
    }
  }
  .modal-body{
    padding: 0 48px 0 26px;
  }
  .modal-footer{
    border: none;
    button{
      border: none;
      outline: none;
      background: transparent;
      font-size: 20px;
      color: #ef6c00;
      text-transform: uppercase;
      font-weight: 600;
      &:hover{
        color: #FC831F;
      }
    }
  }
}

@media (max-width: 1024px) {
  .registration{
    padding-bottom: 140px;
    h5{
      margin-bottom: 62px;
    }
    .big-blocks{
      margin-bottom: 18px;
      .input-block{
        width: 476px;
        height: 57px;
      }
      .upload{
        height: 53px;
      }
      .input{
        padding-right: 22px;
      }
    }
  }
}

@media (max-width: 991px){
  .registration{
    padding-top: 14px;
    padding-bottom: 118px;
    h2{
      padding-bottom: 22px;
    }
    h5{
      max-width: 370px;
      margin-bottom: 54px;
    }
    .big-blocks{
      margin-bottom: 20px;
      .input-block{
        width: 346px;
      }
    }
    .input-block{
      height: 55px;
    }
  }
}

@media (max-width: 767px) {
  .registration{
    .small-blocks{
      flex-direction: column;
    }
    .big-blocks{
      flex-direction: column;
      .input-block{
        margin-left: 0 !important;
        max-width: 358px !important;
        width: 100%;
      }
    }
    .input-block{
      margin: 0 0 34px;
      margin-right: 0 !important;
    }
  }
}

@media (max-width: 320px){
  .registration{
    padding-bottom: 72px;
    h2{
      padding-bottom: 11px;
    }
    h5{
      margin-bottom: 32px;
    }
    .big-blocks{
      margin-bottom: 28px;
      .input{
        padding-right: 16px;
      }
      .input-block{
        height: 55px;
      }
    }
    .input-block{
      margin: 0 0 36px;
      .upload{
        width: 54px;
        height: 54px;
        border-radius: 0px 5px 5px 0;
        border: 2px solid #ef6c00 !important;
        outline: none;
        .icon-text{
          display: none;
        }
        .icon-block{
          display: block;
        }
      }
    }
   input[type='file']{
     width: 56px;
   }
    .info{
      bottom: -40px;
    }
  }
}