@import "./fonts";
@import "./colors";
body{
  min-width: 320px;
  max-width: 2560px;
  width: 100%;
  height: 100%;
  font-family: $primary_font;
  background: $cl_bg;
  margin: 0 auto;
  box-sizing: border-box;
}
.App{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 2560px;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a:hover{
  color: $cl_primary_hover;
  text-decoration: none;
}
h1{
  @include typo_h1_d;
  color: #fff;
}
h2{
  @include  typo_h2_d_t;
  color: #000000;
  text-align: center;
}
h3{
  @include  typo_h3_d_t;
  color: #000000;
}
h4{
  @include typo_h4_d_t_m
}
h5{
  @include typo_h5_d_t;
  color: #000000;
}

p.tooltip-hover{
  position: relative;
  &:hover{
    cursor: pointer;
    .tooltip-block{
      display: block;
    }
  }
  .tooltip-block{
    display: none;
    position: absolute;
    background: #707070;
    border-radius: 5px;
    color: #DFDFDF;
    top: 140%;
    left: 20%;
    font-size: 12px;
    padding: 14px;
    z-index: 1;
  }
}

button.bt{
  width: 290px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  &.disabled{
    background: #D7D7D7;
    color: #8D8C8C;
    cursor: default;
  }
  &.primary{
    color: #fff;
    background: $cl_primary;
    font-size: 20px;
    font-weight: 700;
    &:hover{
      background: $cl_primary_bt_hover;
    }
  }
  &.secondary{
    background: #fff;
    border: 1px solid $cl_primary;
    color: $cl_primary;
    &:hover{
      background: $cl_secondary_bt_hover;
      color: $cl_secondary_hover;
    }
  }
}

p{
  text-overflow: ellipsis;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media (max-width: 1023px) {
  h1{
    @include typo_h1_t;
    color: #fff;
  }
}
@media (max-width: 768px) and (min-width: 576px){
  .container{
    padding: 0;
  }
}
@media  (min-width: 2560px){
  .container{
    padding: 0;
  }
}

/*section{
  overflow-y: hidden;
}*/

@media (max-width: 320px) {
  h1{
    @include typo_h1_m
  }
  h2{
    @include typo_h2_m
  }
  h3{
    @include typo_h3_m
  }
  h5{
    @include typo_h5_m
  }
  .tooltip-block{
    left: -20px !important;
    width: 225px;
  }
}