@import url('https://fonts.googleapis.com/css?family=Overpass:600|Source+Sans+Pro:400,700&display=swap');

$primary_font: 'Source Sans Pro', sans-serif;
$second_font: 'Overpass', sans-serif;

@mixin typo_h1_d {
  font-family: $second_font;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
@mixin typo_h1_t {
  font-family: $second_font;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
}

@mixin typo_h1_m {
  font-family: $second_font;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}

@mixin typo_h2_d_t {
  font-family: $second_font;
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
}

@mixin typo_h2_m {
  font-family: $second_font;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
}

@mixin typo_h3_d_t {
  font-family: $second_font;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
}

@mixin typo_h3_m {
  font-family: $second_font;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

@mixin typo_h4_d_t_m {
  font-family: $second_font;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}
@mixin typo_h5_d_t {
  font-family: $primary_font;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@mixin typo_h5_m {
  font-family: $primary_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin paragraph_1 {
  font-family: $primary_font;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

@mixin paragraph_2 {
  font-family: $primary_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin paragraph_3 {
  font-family: $primary_font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}