.login{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .name{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    max-width: 136px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  svg:hover g{
    fill: #2638BB;
  }
  .email{
    font-size: 12px;
    color: #8d8c8c;
    text-align: right;
    line-height: 1;
    max-width: 136px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 17px 0 12px;
  }

  button{
    background: #fff;
    border: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    &:active{
      transform: scale(.8);
    }
  }
}