.banner-top{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    max-width: 452px;
    padding-top: 128px;
    padding-bottom: 21px;
    margin-bottom: 0;
  }
  p{
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    font-size: 20px;
    max-width: 530px;
    margin-bottom: 32px;
  }
  button{
    margin-bottom: 140px;
  }
}

@media (max-width: 2560px){
  .banner-top{
    position: relative;
    background: url("../../../../media/images/banner-bg/banner-bg-2560x676.jpg") no-repeat center;
  }
}

@media (max-width: 1024px) {
  .banner-top{
    position: relative;
    background: url("../../../../media/images/banner-bg/banner-bg-1204x723.jpg") no-repeat center;

    h1{
      padding-top: 135px;
      padding-bottom: 17px;
    }
    button{
      margin-bottom: 158px;
    }
    p{
      max-width: 430px;
      margin-bottom: 38px;
    }
  }
  
}
@media (max-width: 991px) {
  .banner-top{
    h1{
      padding-top: 116px;
    }
    button{
      margin-bottom: 120px;
    }

  }
}

@media (max-width: 768px) {
  .banner-top{
    position: relative;
    background: url("../../../../media/images/banner-bg/banner-bg-768x622.jpg") no-repeat center;

    h1{
      padding-bottom: 20px;
    }
    button{
      margin-bottom: 122px;
    }
    p{
      font-size: 18px;
      line-height: 24px;
      max-width: 400px;
      margin-bottom: 31px;

      //width: 250px;
      height: 50px;
      overflow: hidden;
    }
  }
}

@media (max-width: 320px) {
  .banner-top{
    position: relative;
    background: url("../../../../media/images/banner-bg/banner-bg-320x393.jpg") no-repeat center;

    h1{
      text-align: center;
      padding-top: 64px;
      padding-bottom: 6px;
    }
    p{
      text-align: center;
      font-size: 16px;
      line-height: 22px;
      height: 62px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 280px;
      margin-bottom: 40px;
    }
    span{
      display: block;
    }
    button{
      margin-bottom: 72px;
    }
  }
}