header {
  height: 64px;
  background: #fff;
  position: sticky;
  width: 100%;
  z-index: 11;
  top: 0;
}

.header-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
.header-block > nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-block .burger:hover svg #line-menu {
  fill: #2638BB;
}
.header-block .logo {
  width: 134px;
}
.header-block ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-block li:not(:first-child) {
  margin-left: 32px;
}
.header-block li a {
  color: #000;
}
.header-block .burger {
  display: none;
}
.header-block svg {
  color: #283593;
  font-size: 25px;
}
.header-block svg:hover {
  color: #2637BB;
}

@media (max-width: 991px) {
  header {
    height: 64px;
  }

  .header-block ul, .header-block .login {
    display: none;
  }
  .header-block .burger {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
