aside{
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  .bg{
    background: rgba(0,0,0, .2);
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
.sidebar-block{
  background: #fff;
  max-width: 260px;
  min-width: 252px;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  position: fixed;
  top: 64px;
  .login{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #e1e1e1;
    .img-block{
      order: 1;
      padding-left: 24px;
    }
    img{
      margin: 0 0 19px 0;
      height: 67px;
      width: 67px;
    }
    .info-block{
      order: 2;
      padding-left: 24px;
      .name, .email{
        text-align: left;
        line-height: 1;
      }
      .name{
        margin-bottom: 10px;
      }
      .email{
        margin-bottom: 24px;
      }
    }
  }
  ul{
    padding-left: 24px;
    padding-top: 22px;
    li{
      margin-bottom: 28px;
      line-height: 1;
    }
    a{
      color: #000;
    }
  }
}

//ANIMATIONS FOR SIDEBAR
$anim_time: .5s;

@keyframes showSideBar {
  0% {transform: translateX(-260px)}
  100%{transform: translateX(0)}
}
//Media size
@media (max-width: 991px) {
  aside {
    &.showBar {
      display: block;
      .sidebar-block {
        animation: showSideBar $anim_time linear;
      }
    }
  }
}

@media (max-width: 320px) {
  aside{
    .sidebar-block .login .info-block .email{
      margin-bottom: 27px;
    }
    .sidebar-block{
      ul{
        padding-left: 14px;
        padding-top: 32px;
        li{
          margin-bottom: 27px;
        }
      }
      .login{
        .img-block, .info-block{
          padding-left: 18px;
        }
      }
    }
  }
}