.our-users{
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 134px;
    padding-bottom: 120px;
  }
  h2{
    margin-bottom: 0;
    padding-bottom: 12px;
  }
  h5{
    margin-bottom: 0;
    max-width: 100%;
  }
  .row{
    width: 100%;
  }
  .user-block{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .info-block{
    margin-left: 10px
  }
  h4{
    margin-top: 20px;
    color: #000000;
  }
  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .col-md-4:nth-child(3n+1){
    padding-left: 0;
  }
  .col-md-4{
    margin-top: 62px;
    margin-bottom: 26px;
  }
  .name{
    text-transform: capitalize;
    max-width: 251px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .email{
    max-width: 251px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .position, .email, .phone-number{
    @include paragraph_3;
    line-height: 18px;
  }
  button{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
  }
}

@media (max-width: 1024px) {
  .our-users{
    .col-md-4{
      margin-top: 62px;
      margin-bottom: 50px;
    }
    button{
      margin-top: 8px;
    }
  }
}

@media (max-width: 991px){
  .our-users{
    .user-block{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h4{
      margin-top: 12px;
      margin-bottom: 6px;
    }
    .col-md-4{
      margin-top: 41px;
      margin-bottom: 22px;
    }
    .icon-block{
      margin-left: -4px
    }
    .content{
      padding-top: 114px;
    }
    .info-block{
      justify-content: center;
      align-items: center;
      div, h4{
        text-align: center;
      }
    }
    button{
      margin-top: 34px;
    }
  }
}

@media(max-width: 320px){
  .our-users {
    .content {
      padding-top: 67px;
      padding-bottom: 53px;
    }
    h2{
      padding-bottom: 13px;
    }
    h4{
      max-width: 198px;
    }
    h5{
      width: 174px;
      text-align: center;
    }
    .col-md-4{
      margin-top: 29px;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 2px;
    }
    .info-block{
      margin-left: 0;
    }
  }
}