.my-relationships{
  padding-top: 77px;
  padding-bottom: 144px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  h2{
    max-width: 555px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 44px;
  }
  .icon-block{
    margin-bottom: 23px;
  }
  h3{
    margin-bottom: 6px;
  }
  p{
    @include paragraph_2;
    color: #4c4b4b;
    margin-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .my-relationships{
    padding-top: 124px;
    padding-bottom: 140px;
  }
}
@media (max-width: 991px) {
  .my-relationships{
    padding-top: 118px;
    padding-bottom: 78px;
    h2{
      padding-bottom: 41px;
    }
    .relation{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 60px;
      margin-bottom: 46px;
    }
    .icon-block{
      margin-bottom: 0;
      margin-top: 1px;
      margin-left: 3px;
    }
    .text-block{
      margin-left: 34px;
    }
    img{
      width: 90px;
    }
  }
}

@media (max-width: 600px) {
  .my-relationships{
    .relation{
      padding: 0 15px;
    }
  }
}

@media (max-width: 320px) {
  .my-relationships{
    padding-top: 51px;
    padding-bottom: 46px;
    h2{
      padding-bottom: 29px;
    }
    h3{
      text-align: center;
      margin-bottom: 0;
    }
    .relation{
      flex-direction: column;
      padding: 0;
      margin-bottom: 30px;
    }
    .text-block{
      margin-left: 0;
    }
    .icon-block{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 0 10px;
    }
    p{
      text-align: center;
    }
    img{
      margin-left: 1px;
    }
  }

}