footer{
  background: #283593;
  color: #fff;
  nav{
    height: 82px;
    .links{
      margin-top: -4px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5f5fc4;
  }
  .logo{
    width: 136px;
    .cls-2{
      fill: #fff;
    }
  }
  .links{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color: #fff;
    }
    li:not(:first-child){
      margin-left: 30px;
    }
  }
  .middle{
    padding: 22px 0;
    position: relative;
  }
  .block-info{
    li{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 14px;
      font-size: 20px;
      &:last-child{
        margin-bottom: 28px;
      }
      .icon{
      margin-right: 12px;
      }
    }
    .copy{
      font-size: 12px;
    }
  }
  .site-map{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    li:not(:last-child){
      margin-bottom: 6px;
    }
    a{
      color: #fff;
    }
  }
  .social-icons{
    position: absolute;
    bottom: 18px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    li:not(:first-child){
      margin-left: 22px;
    }
    li:hover a svg g{
        fill: #EF6C00;
    }
    li:hover a{
      color: red;
    }
  }
}

@media (max-width: 1024px) {
  footer{
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #5f5fc4;
      top: 86px;
      position: absolute;
    }
    .middle{
      padding: 24px 0;
    }
    .block-info li:last-child {
      margin-bottom: 34px;
    }
    nav{
      height: 86px;
      position: relative;
      border: none;

    }
    .social-icons{
      bottom: 26px;
    }
  }
}
@media (max-width: 1023px) {
  footer{
    .block-info{
      .icon{
        display: none;
      }
    }
    .block-info li:last-child {
      margin-bottom: 27px;
    }
    .middle{
      padding-bottom: 36px;
    }
    .social-icons{
      bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  footer{
    &:after{
      top: 224px;
    }
    nav{
      padding-top: 30px;
      height: 224px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .logo{
        margin-bottom: 16px;
      }
      .links{
        flex-direction: column;
        li{
          margin-left: 0 !important;
          margin-bottom: 2px;
        }
      }
    }
    .col-md-2{
      display: none;
    }
    //TODO 320 mobile
    .block-info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      li{
        justify-content: center;
        margin-bottom: 8px;
        font-size: 18px;
        &:last-child{
          margin-bottom: 66px;
        }
      }
    }
    .social-icons{
      align-items: center;
      justify-content: center;
      width: 100%;
      bottom: 61px;
      left: -3px;
    }
    .middle{
      padding: 25px 0 28px;
    }

  }
}

