.about-me{
  padding-top: 140px;
  h2{
    padding-bottom: 44px;
    margin-bottom: 0;
  }
  h3{
    margin-bottom: 0;
    padding-bottom: 4px;
  }
  .content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .icon-block{
    padding-left: 36px;
  }
  .info-block{
    margin-left: 64px;
  }
  p{
    @include paragraph_2;
    margin-bottom: 22px;
  }
  a{
    margin-top: -26px;
    display: block;
    font-size: 22px;
    line-height: 60px;
    color: #ef6c00;
    font-weight: 700;
    text-decoration: none;
    &:hover{
      color: #FC831F;
    }
  }
}

@media (max-width: 1024px) {
  .about-me{
    padding-top: 135px;
    h1{padding-bottom: 40px;}
    .icon-block{
      padding-left: 0;
      margin-top: -21px;
    }
    .info-block{
      margin-left: 30px;
    }
    a{
      margin-top: -18px;
    }
  }
}

@media (max-width: 991px) {

}

@media (max-width: 768px) {
  .about-me{
    h2{
      padding-bottom: 41px;
    }
    h3{
      padding-bottom: 12px;
    }
    img{
      width: 222px;
    }
    padding-top: 108px;
    .icon-block{
      margin: 4px 0 0;
    }
    .info-block{
      margin-left: 27px;
    }
    a{
      margin-top: -20px;
    }
  }
}
@media (max-width: 767px) {
  .about-me{
    .content{
      align-items: center;
    }
  }
}
@media (max-width: 500px) {
  .about-me{
    .content{
      align-items: center;
      flex-direction: column;
    }
    h2{
      padding-bottom: 22px;
    }
    .info-block{
      padding-top: 26px;
      margin-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    p{
      text-align: center;
    }
    a{
      margin-top: -24px;
    }
  }
}

@media (max-width: 320px) {
  .about-me{
    padding-top: 68px;
    h3{
      max-width: 185px;
      text-align: center;
    }
  }
}